// Scoutstrap customisations

//Import Vars & functions
@import "variables";
@import "functions";


//Import Bootstrap functions and vars
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities";

// Nav Bar Styling
.nav-link {
    @extend .nav-link;
    font-weight: 600;
}

// Alerts
// Add alerts with full colour 
@each $color, $value in $theme-colors {
    .alert-deep-#{$color} {
      @include alert-variant($value, $value, color-contrast($value));
    }
  }

// Icon Styling
.bi {
  display: inline-block;
  vertical-align: text-bottom;
}

.icon-med {
    width: 1.5em;
    height: 1.5em;
}
  
.icon-white path,
.icon-white polygon,
.icon-white rect {
fill: #fff;
}

//Icon Styling for each theme colour
@each $color, $value in $theme-colors {
    .bi-#{$color} path,
    .bi-#{$color} polygon,
    .bi-#{$color} rect {
      fill: $value;
    }
}

// Fleur-de-lis Icon
.bi-scout {
  display: inline-block;
  content: "";
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path d='M5.38,9.11a6.13,6.13,0,0,1,.91,2.43h1a7,7,0,0,0-1.07-3,3.6,3.6,0,0,0-3-1.86h0A2.93,2.93,0,0,0,.91,7.81,3,3,0,0,0,.3,10.39l1-.21a2.1,2.1,0,0,1,.42-1.76A1.92,1.92,0,0,1,3.2,7.7h0A2.73,2.73,0,0,1,5.38,9.11Z'/><path d='M12.57,16a4.71,4.71,0,0,1-.79-1.78h-1a5.55,5.55,0,0,0,.82,2.1A4.18,4.18,0,0,1,10,17.77h0a4.17,4.17,0,0,1-1.59-1.45,5.55,5.55,0,0,0,.82-2.1h-1A4.71,4.71,0,0,1,7.44,16l-.17.23.12.26A5,5,0,0,0,9.8,18.77l.2.09h0l.2-.09a5,5,0,0,0,2.41-2.27l.12-.26Z'/><path d='M14.62,9.11a6.13,6.13,0,0,0-.91,2.43h-1a7,7,0,0,1,1.07-3,3.6,3.6,0,0,1,3-1.86h0a2.93,2.93,0,0,1,2.28,1.09,3,3,0,0,1,.61,2.59l-1-.21a2.1,2.1,0,0,0-.42-1.76A1.92,1.92,0,0,0,16.8,7.7h0A2.73,2.73,0,0,0,14.62,9.11Z'/><path d='M8.27,11.54h1a9.86,9.86,0,0,0-1-3A6.35,6.35,0,0,1,7.52,6,3.38,3.38,0,0,1,9,3.39c.16-.12.61-.46,1-.83.41.37.86.71,1,.83A3.38,3.38,0,0,1,12.48,6a6.36,6.36,0,0,1-.77,2.54,9.85,9.85,0,0,0-1,3h1a9.27,9.27,0,0,1,.88-2.61A7.06,7.06,0,0,0,13.46,6a4.37,4.37,0,0,0-1.86-3.37,11.42,11.42,0,0,1-1.25-1.07L10,1.15l-.36.39A11.41,11.41,0,0,1,8.39,2.61,4.37,4.37,0,0,0,6.54,6a7.06,7.06,0,0,0,.86,2.95A9.27,9.27,0,0,1,8.27,11.54Z'/><rect x='4.35' y='12.41' width='11.3' height='0.94'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em 1em;
  width: 1em;
  height: 1em;
}


// Inline Logo
@mixin logo-inline-size($width) {
  width: $width;
  height: auto;
  font-size: ($width * 0.08076923077);

  h6 {
    font-size: 1em;
    line-height: 1em;
    margin-top: 3.5em;
    margin-left: -0.04560461905em;
    margin-bottom: 0em;
    font-weight: 800;
  }
}

@mixin logo-inline($colour) {
    background-image: inline-svg("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 260 75'><style>.fill{fill:" + $colour + ";}</style><path class='fill' d='M.08,58l4.71-5.64c3.26,2.69,6.68,4.4,10.82,4.4,3.26,0,5.23-1.29,5.23-3.42v-.1c0-2-1.24-3.05-7.3-4.61-7.3-1.86-12-3.88-12-11.08v-.1c0-6.58,5.28-10.93,12.69-10.93a21,21,0,0,1,13.46,4.61l-4.14,6c-3.21-2.23-6.37-3.57-9.42-3.57S9.45,35,9.45,36.74v.11c0,2.38,1.55,3.16,7.82,4.76,7.35,1.92,11.49,4.56,11.49,10.87v.1c0,7.2-5.49,11.23-13.3,11.23A23.06,23.06,0,0,1,.08,58' transform='translate(-0.08 -0.85)'/><path class='fill' d='M31.73,49.58v-.11A14.25,14.25,0,0,1,46.28,35c5.23,0,8.49,1.76,11.08,4.66l-4.82,5.18C50.79,43,49,41.82,46.23,41.82c-3.94,0-6.73,3.47-6.73,7.56v.1c0,4.25,2.74,7.66,7,7.66,2.64,0,4.45-1.14,6.37-3l4.61,4.66a14,14,0,0,1-11.34,5.07A14.17,14.17,0,0,1,31.73,49.58' transform='translate(-0.08 -0.85)'/><path class='fill' d='M81.32,49.58v-.11A7.37,7.37,0,0,0,74,41.82c-4.5,0-7.2,3.47-7.2,7.56v.1a7.37,7.37,0,0,0,7.3,7.66c4.51,0,7.2-3.47,7.2-7.56m-22.26,0v-.11c0-8,6.42-14.44,15.07-14.44s15,6.37,15,14.34v.1c0,8-6.42,14.45-15.06,14.45s-15-6.37-15-14.34' transform='translate(-0.08 -0.85)'/><path class='fill' d='M92.16,53.52v-18H100V51c0,3.73,1.76,5.64,4.76,5.64s4.92-1.91,4.92-5.64V35.55h7.87V63.3h-7.87V59.37c-1.81,2.33-4.14,4.45-8.13,4.45-6,0-9.42-3.93-9.42-10.3' transform='translate(-0.08 -0.85)'/><path class='fill' d='M122.15,55.43v-27H130v7.09h6.53v6.73H130V54.14c0,1.81.78,2.69,2.54,2.69a8,8,0,0,0,3.88-1v6.32a11.59,11.59,0,0,1-6.21,1.61c-4.81,0-8.08-1.92-8.08-8.34' transform='translate(-0.08 -0.85)'/><path class='fill' d='M140,59.63l3.37-5.18a15.68,15.68,0,0,0,8.75,3.31c2.28,0,3.31-.83,3.31-2.07v-.1c0-1.71-2.69-2.28-5.75-3.21-3.88-1.14-8.28-3-8.28-8.34v-.1c0-5.64,4.56-8.8,10.15-8.8a19.21,19.21,0,0,1,10.36,3.21l-3,5.44c-2.74-1.61-5.49-2.59-7.51-2.59s-2.9.83-2.9,1.92v.1c0,1.55,2.64,2.28,5.64,3.31,3.88,1.29,8.39,3.16,8.39,8.23v.1c0,6.16-4.61,9-10.61,9A19.43,19.43,0,0,1,140,59.63' transform='translate(-0.08 -0.85)'/><path class='fill' d='M200.67,33.82a25.51,25.51,0,0,1,3.73,10h4.1a29.25,29.25,0,0,0-4.42-12.27c-3.28-5-7.55-7.69-12.35-7.69h0a12,12,0,0,0-9.4,4.51,12.67,12.67,0,0,0-2.53,10.7l4-.87A8.72,8.72,0,0,1,185.47,31a7.88,7.88,0,0,1,6.23-3h0c4.25,0,7.21,3.18,8.95,5.85' transform='translate(-0.08 -0.85)'/><path class='fill' d='M230.26,62.34A19.58,19.58,0,0,1,227,55h-4.14a23.08,23.08,0,0,0,3.38,8.71,17.22,17.22,0,0,1-6.53,6h0a17.22,17.22,0,0,1-6.53-6A23,23,0,0,0,216.55,55h-4.14a19.55,19.55,0,0,1-3.27,7.39l-.69,1,.49,1.08a20.71,20.71,0,0,0,9.93,9.41l.82.36h0l.82-.36a20.71,20.71,0,0,0,9.93-9.41l.49-1.08-.69-1Z' transform='translate(-0.08 -0.85)'/><path class='fill' d='M238.73,33.82a25.47,25.47,0,0,0-3.73,10h-4.1a29.24,29.24,0,0,1,4.42-12.27c3.28-5,7.55-7.69,12.35-7.69h0a12,12,0,0,1,9.4,4.51,12.66,12.66,0,0,1,2.53,10.7l-4-.87A8.73,8.73,0,0,0,253.93,31a7.88,7.88,0,0,0-6.23-3h0c-4.25,0-7.21,3.18-8.95,5.85' transform='translate(-0.08 -0.85)'/><path class='fill' d='M212.58,43.87h4.1c-.51-4.72-2.36-8.84-4-12.48s-3.19-7.07-3.17-10.5c0-3.94,2.28-8,6-10.74.65-.49,2.51-1.92,4.18-3.45,1.67,1.53,3.53,3,4.18,3.45,3.73,2.79,6,6.8,6,10.74,0,3.42-1.53,6.86-3.17,10.5s-3.49,7.76-4,12.48h4.1c.51-3.9,2.09-7.41,3.62-10.81C232.26,29,234,25.18,234,20.86c0-5.21-2.9-10.42-7.64-14a47.17,47.17,0,0,1-5.13-4.44L219.7.85l-1.49,1.61a47.23,47.23,0,0,1-5.13,4.44c-4.73,3.54-7.59,8.76-7.64,14,0,4.32,1.7,8.15,3.52,12.2,1.53,3.4,3.11,6.91,3.62,10.81' transform='translate(-0.08 -0.85)'/><polygon class='fill' points='196.36 50.52 242.87 50.52 242.87 46.61 196.36 46.61 196.36 50.52 196.36 50.52'/></svg>");
}

// Compute all the inline logo colours
@each $colour, $value in $logoColours {
  .logo-inline-#{$colour} {
    @include logo-inline($value);
    display: inline-block;
    background-repeat: no-repeat;
  }

  .logo-inline-#{$colour} h6 {
    color: $value;
  }
}

//Compute all the inline logo sizes
@each $width, $widthpx in $logoSizes {
  .logo-inline-w#{$width} {
    @include logo-inline-size($widthpx);
  }
}

// Stacked Logo
@mixin logo-stacked-size($width) {
  width: $width;
  height: ($width * 0.95);
  font-size: ($width * 0.13);

  h6 {
    font-size: 1em;
    line-height: 1em;
    margin-top: 6.2499692308em;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
    font-weight: 800;
  }
}

@mixin logo-stacked($colour) {
  background-image: inline-svg("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 73.02'><style>.fill{fill:" + $colour + ";}</style><path class='fill' d='M0,69.38l2.9-3.47a10.24,10.24,0,0,0,6.66,2.71c2,0,3.22-.8,3.22-2.1v-.06c0-1.24-.77-1.88-4.49-2.84C3.79,62.47.89,61.22.89,56.79v-.06c0-4,3.25-6.72,7.81-6.72A12.92,12.92,0,0,1,17,52.84l-2.55,3.7a10.46,10.46,0,0,0-5.8-2.2c-1.88,0-2.87.86-2.87,1.94v.06c0,1.47,1,1.94,4.81,2.93,4.53,1.18,7.07,2.8,7.07,6.69V66c0,4.43-3.38,6.92-8.19,6.92A14.19,14.19,0,0,1,0,69.38'/><path class='fill' d='M19.49,64.19v-.07a8.77,8.77,0,0,1,9-8.89,8.4,8.4,0,0,1,6.82,2.87l-3,3.19a5,5,0,0,0-3.89-1.88c-2.42,0-4.14,2.14-4.14,4.65v.06c0,2.61,1.69,4.72,4.33,4.72A5.41,5.41,0,0,0,32.52,67l2.84,2.87a8.6,8.6,0,0,1-7,3.12,8.72,8.72,0,0,1-8.89-8.83'/><path class='fill' d='M36.31,64.19v-.07a9,9,0,0,1,9.27-8.89,8.88,8.88,0,0,1,9.21,8.83v.06A9,9,0,0,1,45.52,73a8.88,8.88,0,0,1-9.21-8.83m13.7,0v-.07a4.54,4.54,0,0,0-4.49-4.72,4.38,4.38,0,0,0-4.43,4.65v.06a4.54,4.54,0,0,0,4.49,4.72A4.38,4.38,0,0,0,50,64.19'/><path class='fill' d='M56.68,66.61V55.55h4.84v9.53c0,2.29,1.08,3.47,2.93,3.47s3-1.18,3-3.47V55.55h4.84V72.63H67.48V70.21a6,6,0,0,1-5,2.74c-3.66,0-5.8-2.42-5.8-6.34'/><path class='fill' d='M75.14,67.79V51.19H80v4.37h4V59.7H80V67c0,1.12.48,1.66,1.56,1.66A4.93,4.93,0,0,0,83.94,68v3.89a7.14,7.14,0,0,1-3.82,1c-3,0-5-1.18-5-5.13'/><path class='fill' d='M86.14,70.37l2.07-3.19a9.66,9.66,0,0,0,5.38,2c1.4,0,2-.51,2-1.28v-.06c0-1.05-1.66-1.4-3.54-2-2.39-.7-5.1-1.82-5.1-5.13v-.06c0-3.47,2.81-5.42,6.25-5.42a11.83,11.83,0,0,1,6.37,2l-1.85,3.35A10.13,10.13,0,0,0,93.15,59c-1.18,0-1.78.51-1.78,1.18v.06c0,1,1.62,1.4,3.47,2,2.39.8,5.16,1.94,5.16,5.07v.06c0,3.79-2.84,5.51-6.53,5.51a12,12,0,0,1-7.33-2.58'/><path class='fill' d='M38.29,20.3a15.7,15.7,0,0,1,2.3,6.19H43.1a18,18,0,0,0-2.72-7.55c-2-3.1-4.65-4.73-7.6-4.74h0A7.41,7.41,0,0,0,27,17a7.8,7.8,0,0,0-1.56,6.59L27.87,23a5.37,5.37,0,0,1,1.06-4.48,4.85,4.85,0,0,1,3.84-1.85h0c2.61,0,4.44,2,5.51,3.6Z'/><path class='fill' d='M56.5,37.85a12.06,12.06,0,0,1-2-4.55H51.94A14.19,14.19,0,0,0,54,38.67a10.6,10.6,0,0,1-4,3.7h0a10.61,10.61,0,0,1-4-3.7,14.19,14.19,0,0,0,2.08-5.36H45.51a12,12,0,0,1-2,4.55l-.43.59.3.66a12.75,12.75,0,0,0,6.11,5.79l.5.22h0l.5-.22a12.75,12.75,0,0,0,6.11-5.79l.3-.66-.43-.59Z'/><path class='fill' d='M61.72,20.3a15.68,15.68,0,0,0-2.3,6.19H56.9a18,18,0,0,1,2.72-7.55c2-3.1,4.65-4.73,7.6-4.74h0A7.41,7.41,0,0,1,73,17a7.79,7.79,0,0,1,1.55,6.59L72.13,23a5.37,5.37,0,0,0-1.06-4.48,4.85,4.85,0,0,0-3.84-1.85h0c-2.61,0-4.44,2-5.51,3.6Z'/><path class='fill' d='M45.62,26.48h2.52a25.25,25.25,0,0,0-2.47-7.68c-1-2.24-2-4.35-1.95-6.46a8.64,8.64,0,0,1,3.7-6.61C47.83,5.42,49,4.54,50,3.6c1,.94,2.17,1.82,2.57,2.12a8.63,8.63,0,0,1,3.7,6.61c0,2.11-.94,4.22-1.95,6.46a25.18,25.18,0,0,0-2.47,7.68h2.52a23.76,23.76,0,0,1,2.23-6.66c1.12-2.49,2.19-4.85,2.17-7.51a11.14,11.14,0,0,0-4.7-8.6A29,29,0,0,1,50.92,1L50,0l-.92,1a28.85,28.85,0,0,1-3.16,2.73,11.15,11.15,0,0,0-4.7,8.6c0,2.66,1,5,2.17,7.51a23.72,23.72,0,0,1,2.23,6.66Z'/><polygon class='fill' points='35.69 28.69 35.69 31.09 64.31 31.09 64.31 28.69 35.69 28.69 35.69 28.69'/></svg>");
}

// Compute all the stacked logo colours
@each $colour, $value in $logoColours {
  .logo-stacked-#{$colour} {
    @include logo-stacked($value);
    display: inline-block;
    background-repeat: no-repeat;
    text-align: center;
  }

  .logo-stacked-#{$colour} h6 {
    color: $value;
  }
}

//Compute all the stacked logo sizes
@each $width, $widthpx in $logoSizes {
  .logo-stacked-w#{$width} {
    @include logo-stacked-size($widthpx);
  }
}


// Import Bootstrap defaults
@import "bootstrap/bootstrap";
