<footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-left">
  <div class="container">
    <ul class="bd-footer-links">
      <li><a href="{{ .Site.Params.github_org }}">GitHub</a></li>
      <li><a href="/docs/{{ .Site.Params.docs_version }}/examples/">Examples</a></li>
      <li><a href="/docs/{{ .Site.Params.docs_version }}/about/overview/">About</a></li>
    </ul>
    <p>Built by Scouting volunteers for use by everyone, everywhere. Scoutstrap is not linked with or formally endorsed by the Scout Association. </p>
    <p>Currently v{{ .Site.Params.current_version }}. Code licensed <a href="{{ .Site.Params.repo }}/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>. Based on <a href="https://getbootstrap.com">Bootstrap v{{ .Site.Params.current_bs_version }}.</p>
  </div>
</footer>
 